<h1>корзина</h1>

 <div id="card">
<table>
    <thead>
        <tr>
            <th>картинка</th>
            <th>название</th>
            <th>цена</th>
            <th>количество</th>
            <th>действия</th>

        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <td><img class="img_card" src={{img}} alt="ds"/></td>
            <td>{{name}}</td>
            <th>{{}}</th>
            <td>{{count}}</td>
            <td><button class="js-remove" data-id="{{id}}">удалить</button></td>
               
          
        </tr>
    </tbody>
    
    {{/each}}
</table>
<p><h1> Сумма всего: {{price}}$</h1></p>
</div>
