<div class="cours">
    
    <div>{{cours.price}}</div>
    <div>{{cours.name}}</div>
</div>
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{cours.img}} alt={{title}}>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><span>{{cours.price}}</span></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>{{cours.price}}}</p>
    </div>
  </div>
